In [1]:
import pandas as pd

from make_charts import plot_df

In [76]:
actions_df = pd.read_csv("../preds/actions_df_ddpg.csv")
reward_df = pd.read_csv("../preds/reward_df_ddpg.csv")
obs_df = pd.read_csv("../preds/obs_df_ddpg.csv")
e_cost_df = pd.read_csv("../preds/e_costs_df_ddpg.csv")

index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]
actions_df.index = pd.to_datetime(index)
reward_df.index = pd.to_datetime(index)
obs_df.index = pd.to_datetime(index)
e_cost_df.index = pd.to_datetime(index)

actions_df_0 = pd.read_csv("../preds/actions_df_ddpg_00.csv")
reward_df_0 = pd.read_csv("../preds/reward_df_ddpg_00.csv")
obs_df_0 = pd.read_csv("../preds/obs_df_ddpg_00.csv")
e_cost_df_0 = pd.read_csv("../preds/e_costs_df_ddpg_00.csv")
net_energy_df_0 = pd.read_csv("../preds/net_energy_df_ddpg_00.csv")
net_power_df_0 = pd.read_csv("../preds/net_power_df_ddpg_00.csv")


actions_df_0.index = pd.to_datetime(index)
reward_df_0.index = pd.to_datetime(index)
obs_df_0.index = pd.to_datetime(index)
e_cost_df_0.index = pd.to_datetime(index)
net_energy_df_0.index = pd.to_datetime(index)
net_power_df_0.index = pd.to_datetime(index)

e_price_2014 = pd.read_csv("../e_tariffs/e_price_2014.csv", index_col=0, parse_dates=True)
e_price_2014.index = pd.to_datetime(e_price_2014.index)

In [33]:
actions_df.columns = [col+'_action' for col in actions_df.columns]
actions_df.head()

,CwTempA_action,HwTempA_action,LigA_input_action,P_ctrl_action,SaFrA_action,SaTempA_action
2014-01-01 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2014-01-01 00:15:00,5.843977,30.000008,0.130417,-938.868408,1.999582,23.893993
2014-01-01 00:30:00,14.999771,30.004332,0.000393,-1004.464844,0.329723,20.773239
2014-01-01 00:45:00,14.999969,43.186256,0.256085,-1037.609863,0.100115,27.465096
2014-01-01 01:00:00,14.999994,59.922375,0.083410,-1208.562988,0.100010,27.747005

In [34]:
#plot_df(actions_df, filename='actions_columns_ddpg.html')

In [35]:
reward_df.head()

                       reward
2014-01-01 00:00:00  0.000000
2014-01-01 00:15:00 -0.010736
2014-01-01 00:30:00 -0.000000
2014-01-01 00:45:00 -0.006302
2014-01-01 01:00:00 -0.005016

In [36]:
#plot_df(reward_df, filename='rewards_columns_ddpg.html')

In [37]:
obs_df.columns = [col+'_obs' for col in obs_df.columns]
obs_df.head()

,CoolA_obs,FanPowerA_obs,HeatA_obs,LigA_obs,OutRH_obs,OutSI_obs,OutTemp_obs,P_obs,P_batt_obs,SOC_obs,ZoneTempA_obs
2014-01-01 00:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.000000
2014-01-01 00:15:00,1351.532046,909.280425,163.790164,61.277585,77.0,0.0,9.350,0.000025,-938.868408,0.172292,23.829443
2014-01-01 00:30:00,576.675057,47.964828,0.000000,0.184614,74.0,0.0,9.075,0.000025,-1004.464844,0.133429,21.860070
2014-01-01 00:45:00,0.000000,5.969367,566.472695,120.324142,71.0,0.0,8.800,0.000025,0.000000,0.100000,22.319926
2014-01-01 01:00:00,0.000000,5.960054,617.015278,39.191145,71.5,0.0,8.275,0.000025,0.000000,0.100000,22.499638

In [38]:
#plot_df(obs_df, filename='obs_columns_ddpg.html')

In [39]:
e_price_2014.head()

                     e_price
date_time
2014-01-01 00:00:00        8
2014-01-01 00:15:00        8
2014-01-01 00:30:00        8
2014-01-01 00:45:00        8
2014-01-01 01:00:00        8

In [63]:
e_cost_df = e_cost_df.drop(['reward'], axis=1)
e_cost_df.head()

                       e_cost
2014-01-01 00:00:00       NaN
2014-01-01 00:15:00  0.010736
2014-01-01 00:30:00  0.000000
2014-01-01 00:45:00  0.006302
2014-01-01 01:00:00  0.005016

In [66]:
final_df = pd.concat([e_price_2014, obs_df, reward_df, actions_df,e_cost_df],axis=1)
final_df["Tcomfort"] = final_df["reward"] + final_df["e_cost"]
final_df.head()

,e_price,CoolA,FanPowerA,HeatA,LigA,OutRH,OutSI,OutTemp,P,P_batt,...,ZoneTempA,reward,CwTempA,HwTempA,LigA_input,P_ctrl,SaFrA,SaTempA,e_cost,Tcomfort
2014-01-01 00:00:00,8,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
2014-01-01 00:15:00,8,1351.532046,909.280425,163.790164,61.277585,77.0,0.0,9.350,0.000025,-938.868408,...,23.829443,-0.010736,5.843977,30.000008,0.130417,-938.868408,1.999582,23.893993,0.010736,0.0
2014-01-01 00:30:00,8,576.675057,47.964828,0.000000,0.184614,74.0,0.0,9.075,0.000025,-1004.464844,...,21.860070,-0.000000,14.999771,30.004332,0.000393,-1004.464844,0.329723,20.773239,0.000000,0.0
2014-01-01 00:45:00,8,0.000000,5.969367,566.472695,120.324142,71.0,0.0,8.800,0.000025,0.000000,...,22.319926,-0.006302,14.999969,43.186256,0.256085,-1037.609863,0.100115,27.465096,0.006302,0.0
2014-01-01 01:00:00,8,0.000000,5.960054,617.015278,39.191145,71.5,0.0,8.275,0.000025,0.000000,...,22.499638,-0.005016,14.999994,59.922375,0.083410,-1208.562988,0.100010,27.747005,0.005016,0.0

In [67]:
plot_df(final_df, filename='all_columns_ddpg.html')

In [77]:
#e_cost_df_0 = e_cost_df_0.drop(['reward'], axis=1)
#e_cost_df_0.head()
final_df_0 = pd.concat([e_price_2014, obs_df_0, reward_df_0, actions_df_0,e_cost_df_0,net_energy_df_0,net_power_df_0],axis=1)
final_df_0["Tcomfort"] = final_df_0["reward"] + final_df_0["e_cost"]
final_df_0.head()

,e_price,CoolA,FanPowerA,HeatA,LigA,OutRH,OutSI,OutTemp,P,P_batt,...,CwTempA,HwTempA,LigA_input,P_ctrl,SaFrA,SaTempA,e_cost,net_energy,net_power,Tcomfort
2014-01-01 00:00:00,8,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0
2014-01-01 00:15:00,8,5.974950,5.959208,183.681804,0.0,77.0,0.0,9.350,0.000025,0.0,...,5.000000,30.830412,0.0,-3288.459961,0.1,25.513840,0.402600,0.050325,201.300100,0.0
2014-01-01 00:30:00,8,19.649948,5.959208,18.124276,0.0,74.0,0.0,9.075,0.000025,0.0,...,14.966031,56.056793,0.0,-214.903809,0.1,22.279613,0.063175,0.007897,31.587351,0.0
2014-01-01 00:45:00,8,11.299145,5.959208,16.418273,0.0,71.0,0.0,8.800,0.000025,0.0,...,13.631529,56.069485,0.0,-239.269043,0.1,21.881699,0.054016,0.006752,27.007957,0.0
2014-01-01 01:00:00,8,6.660431,5.959208,6.491169,0.0,71.5,0.0,8.275,0.000025,0.0,...,5.998333,53.243820,0.0,-294.293701,0.1,21.431618,0.030024,0.003753,15.012135,0.0

In [73]:
plot_df(final_df_0, filename='all_columns_ddpg_0.html')

In [51]:
baseline_df = pd.read_csv("../preds/FlexlabXR_baseline_AMY2014.csv")
baseline_df.index = pd.to_datetime(index)

In [56]:
baseline_df.head()

,Date/Time,FLEXLAB-XR-ZONEA:Zone Mean Air Temperature [C](TimeStep),SYS-A HEATING COIL:Heating Coil Heating Rate [W](TimeStep),SYS-A COOLING COIL:Cooling Coil Total Cooling Rate [W](TimeStep)
2014-01-01 00:00:00,01/01 00:15:00,23.641904,2838.467650,0.0
2014-01-01 00:15:00,01/01 00:30:00,23.729739,2866.469351,0.0
2014-01-01 00:30:00,01/01 00:45:00,23.684463,2765.402740,0.0
2014-01-01 00:45:00,01/01 01:00:00,23.656490,2757.962275,0.0
2014-01-01 01:00:00,01/01 01:15:00,24.132569,3474.780893,0.0

In [78]:
baseline_df['SYS-A COOLING COIL:Cooling Coil Total Cooling Rate [W](TimeStep)']=baseline_df['SYS-A COOLING COIL:Cooling Coil Total Cooling Rate [W](TimeStep)']/3.0

In [79]:
baseline_df.head()

,Date/Time,FLEXLAB-XR-ZONEA:Zone Mean Air Temperature [C](TimeStep),SYS-A HEATING COIL:Heating Coil Heating Rate [W](TimeStep),SYS-A COOLING COIL:Cooling Coil Total Cooling Rate [W](TimeStep)
2014-01-01 00:00:00,01/01 00:15:00,23.641904,2838.467650,0.0
2014-01-01 00:15:00,01/01 00:30:00,23.729739,2866.469351,0.0
2014-01-01 00:30:00,01/01 00:45:00,23.684463,2765.402740,0.0
2014-01-01 00:45:00,01/01 01:00:00,23.656490,2757.962275,0.0
2014-01-01 01:00:00,01/01 01:15:00,24.132569,3474.780893,0.0

In [80]:
final_df_base = pd.concat([e_price_2014, baseline_df,obs_df_0, actions_df_0],axis=1)
final_df_base.head()

,e_price,Date/Time,FLEXLAB-XR-ZONEA:Zone Mean Air Temperature [C](TimeStep),SYS-A HEATING COIL:Heating Coil Heating Rate [W](TimeStep),SYS-A COOLING COIL:Cooling Coil Total Cooling Rate [W](TimeStep),CoolA,FanPowerA,HeatA,LigA,OutRH,...,P,P_batt,SOC,ZoneTempA,CwTempA,HwTempA,LigA_input,P_ctrl,SaFrA,SaTempA
2014-01-01 00:00:00,8,01/01 00:15:00,23.641904,2838.467650,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
2014-01-01 00:15:00,8,01/01 00:30:00,23.729739,2866.469351,0.0,5.974950,5.959208,183.681804,0.0,77.0,...,0.000025,0.0,0.1,23.899524,5.000000,30.830412,0.0,-3288.459961,0.1,25.513840
2014-01-01 00:30:00,8,01/01 00:45:00,23.684463,2765.402740,0.0,19.649948,5.959208,18.124276,0.0,74.0,...,0.000025,0.0,0.1,22.564921,14.966031,56.056793,0.0,-214.903809,0.1,22.279613
2014-01-01 00:45:00,8,01/01 01:00:00,23.656490,2757.962275,0.0,11.299145,5.959208,16.418273,0.0,71.0,...,0.000025,0.0,0.1,21.777997,13.631529,56.069485,0.0,-239.269043,0.1,21.881699
2014-01-01 01:00:00,8,01/01 01:15:00,24.132569,3474.780893,0.0,6.660431,5.959208,6.491169,0.0,71.5,...,0.000025,0.0,0.1,21.210388,5.998333,53.243820,0.0,-294.293701,0.1,21.431618

In [81]:
plot_df(final_df_base, filename='all_columns_ddpg_base.html')

In [82]:
obs_df.columns = [col+'_Test_B' for col in obs_df.columns]
obs_df.head()

,CoolA_Test_B,FanPowerA_Test_B,HeatA_Test_B,LigA_Test_B,OutRH_Test_B,OutSI_Test_B,OutTemp_Test_B,P_Test_B,P_batt_Test_B,SOC_Test_B,ZoneTempA_Test_B
2014-01-01 00:00:00,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.000000
2014-01-01 00:15:00,1351.532046,909.280425,163.790164,61.277585,77.0,0.0,9.350,0.000025,-938.868408,0.172292,23.829443
2014-01-01 00:30:00,576.675057,47.964828,0.000000,0.184614,74.0,0.0,9.075,0.000025,-1004.464844,0.133429,21.860070
2014-01-01 00:45:00,0.000000,5.969367,566.472695,120.324142,71.0,0.0,8.800,0.000025,0.000000,0.100000,22.319926
2014-01-01 01:00:00,0.000000,5.960054,617.015278,39.191145,71.5,0.0,8.275,0.000025,0.000000,0.100000,22.499638

In [83]:
obs_df_0.columns = [col+'_Test_A' for col in obs_df_0.columns]
obs_df_0.head()

,CoolA_Test_A,FanPowerA_Test_A,HeatA_Test_A,LigA_Test_A,OutRH_Test_A,OutSI_Test_A,OutTemp_Test_A,P_Test_A,P_batt_Test_A,SOC_Test_A,ZoneTempA_Test_A
2014-01-01 00:00:00,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000,0.000000,0.0,0.0,0.000000
2014-01-01 00:15:00,5.974950,5.959208,183.681804,0.0,77.0,0.0,9.350,0.000025,0.0,0.1,23.899524
2014-01-01 00:30:00,19.649948,5.959208,18.124276,0.0,74.0,0.0,9.075,0.000025,0.0,0.1,22.564921
2014-01-01 00:45:00,11.299145,5.959208,16.418273,0.0,71.0,0.0,8.800,0.000025,0.0,0.1,21.777997
2014-01-01 01:00:00,6.660431,5.959208,6.491169,0.0,71.5,0.0,8.275,0.000025,0.0,0.1,21.210388

In [86]:
final_df_base_cool = pd.concat([ obs_df['CoolA_Test_B'],obs_df_0['CoolA_Test_A']],axis=1)
final_df_base_cool.head()

                     CoolA_Test_B  CoolA_Test_A
2014-01-01 00:00:00      0.000000      0.000000
2014-01-01 00:15:00   1351.532046      5.974950
2014-01-01 00:30:00    576.675057     19.649948
2014-01-01 00:45:00      0.000000     11.299145
2014-01-01 01:00:00      0.000000      6.660431

In [87]:
plot_df(final_df_base_cool, filename='all_columns_ddpg_cool.html')

In [88]:
final_df_base_cool = pd.concat([ obs_df['SOC_Test_B'],obs_df_0['SOC_Test_A']],axis=1)
final_df_base_cool.head()

                     SOC_Test_B  SOC_Test_A
2014-01-01 00:00:00    0.000000         0.0
2014-01-01 00:15:00    0.172292         0.1
2014-01-01 00:30:00    0.133429         0.1
2014-01-01 00:45:00    0.100000         0.1
2014-01-01 01:00:00    0.100000         0.1

In [89]:
plot_df(final_df_base_cool, filename='all_columns_ddpg_SOC.html')

In [90]:
abs(-10.0
   )

10.0

In [91]:
actions_df_01 = pd.read_csv("../preds/actions_df_ddpg_001.csv")
reward_df_01 = pd.read_csv("../preds/reward_df_ddpg_001.csv")
obs_df_01 = pd.read_csv("../preds/obs_df_ddpg_001.csv")
e_cost_df_01 = pd.read_csv("../preds/e_costs_df_ddpg_001.csv")
net_energy_df_01 = pd.read_csv("../preds/net_energy_df_ddpg_001.csv")
net_power_df_01 = pd.read_csv("../preds/net_power_df_ddpg_001.csv")


actions_df_01.index = pd.to_datetime(index)
reward_df_01.index = pd.to_datetime(index)
obs_df_01.index = pd.to_datetime(index)
e_cost_df_01.index = pd.to_datetime(index)
net_energy_df_01.index = pd.to_datetime(index)
net_power_df_01.index = pd.to_datetime(index)

e_price_2014 = pd.read_csv("../e_tariffs/e_price_2014.csv", index_col=0, parse_dates=True)
e_price_2014.index = pd.to_datetime(e_price_2014.index)

In [92]:
final_df_01 = pd.concat([e_price_2014, obs_df_01, reward_df_01, actions_df_01,e_cost_df_01,net_energy_df_01,net_power_df_01],axis=1)
final_df_01["Tcomfort"] = final_df_01["reward"] + final_df_01["e_cost"]
final_df_01.head()

,e_price,CoolA,FanPowerA,HeatA,LigA,OutRH,OutSI,OutTemp,P,P_batt,...,CwTempA,HwTempA,LigA_input,P_ctrl,SaFrA,SaTempA,e_cost,net_energy,net_power,Tcomfort
2014-01-01 00:00:00,8,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000,0.000000,0.000000,...,0.0,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2014-01-01 00:15:00,8,4646.148063,651.188679,0.0,0.000028,77.0,0.0,9.350,0.000025,2374.748047,...,5.0,60.0,5.960464e-08,2374.748047,1.285217,19.216961,9.149305,1.143663,4574.652749,0.0
2014-01-01 00:30:00,8,121.060358,5.959208,0.0,1.404997,74.0,0.0,9.075,0.000025,3299.999023,...,5.0,60.0,2.990246e-03,3299.999023,0.100000,20.211340,6.695433,0.836929,3347.716655,0.0
2014-01-01 00:45:00,8,114.329309,5.959208,0.0,0.238456,71.0,0.0,8.800,0.000025,3300.000000,...,5.0,60.0,5.075037e-04,3300.000000,0.100000,20.101637,6.688615,0.836077,3344.307408,0.0
2014-01-01 01:00:00,8,75.457573,5.959208,0.0,0.214329,71.5,0.0,8.275,0.000025,3299.997559,...,5.0,60.0,4.561543e-04,3299.997559,0.100000,20.209724,6.662647,0.832831,3331.323594,0.0

In [93]:
plot_df(final_df_01, filename='all_columns_ddpg_001.html')

In [97]:
final_df_base_cool = pd.concat([ obs_df['CoolA_Test_B'],obs_df_0['CoolA_Test_A'],obs_df_01['CoolA']],axis=1)
final_df_base_cool.head()

                     CoolA_Test_B  CoolA_Test_A        CoolA
2014-01-01 00:00:00      0.000000      0.000000     0.000000
2014-01-01 00:15:00   1351.532046      5.974950  4646.148063
2014-01-01 00:30:00    576.675057     19.649948   121.060358
2014-01-01 00:45:00      0.000000     11.299145   114.329309
2014-01-01 01:00:00      0.000000      6.660431    75.457573

In [98]:
plot_df(final_df_base_cool, filename='all_columns_ddpg_cool.html')

In [99]:
actions_df_02 = pd.read_csv("../preds/actions_df_ddpg_002.csv")
reward_df_02 = pd.read_csv("../preds/reward_df_ddpg_002.csv")
obs_df_02 = pd.read_csv("../preds/obs_df_ddpg_002.csv")
e_cost_df_02 = pd.read_csv("../preds/e_costs_df_ddpg_002.csv")
net_energy_df_02 = pd.read_csv("../preds/net_energy_df_ddpg_002.csv")
net_power_df_02 = pd.read_csv("../preds/net_power_df_ddpg_002.csv")


actions_df_02.index = pd.to_datetime(index)
reward_df_02.index = pd.to_datetime(index)
obs_df_02.index = pd.to_datetime(index)
e_cost_df_02.index = pd.to_datetime(index)
net_energy_df_02.index = pd.to_datetime(index)
net_power_df_02.index = pd.to_datetime(index)

e_price_2014 = pd.read_csv("../e_tariffs/e_price_2014.csv", index_col=0, parse_dates=True)
e_price_2014.index = pd.to_datetime(e_price_2014.index)

In [100]:
final_df_02 = pd.concat([e_price_2014, obs_df_02, reward_df_02, actions_df_02,e_cost_df_02,net_energy_df_02,net_power_df_02],axis=1)
final_df_02["Tcomfort"] = final_df_02["reward"] + final_df_02["e_cost"]
final_df_02.head()

,e_price,CoolA,FanPowerA,HeatA,LigA,OutRH,OutSI,OutTemp,P,P_batt,...,CwTempA,HwTempA,LigA_input,P_ctrl,SaFrA,SaTempA,e_cost,net_energy,net_power,Tcomfort
2014-01-01 00:00:00,8,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2014-01-01 00:15:00,8,4801.099412,820.402113,0.000000,0.000000,77.0,0.0,9.350,0.000025,1238.181152,...,15.000000,60.000000,0.000000,1238.181152,1.452485,19.614037,7.317899,0.914737,3658.949711,0.0
2014-01-01 00:30:00,8,0.000000,5.959208,106.601329,0.019254,74.0,0.0,9.075,0.000025,-428.277344,...,14.997832,59.735207,0.000041,-428.277344,0.100000,22.611010,0.000000,-0.077522,-310.086982,0.0
2014-01-01 00:45:00,8,0.000000,5.959208,107.862843,0.009312,71.0,0.0,8.800,0.000025,391.608643,...,14.988341,59.841309,0.000020,391.608643,0.100000,22.526129,1.022234,0.127779,511.116972,0.0
2014-01-01 01:00:00,8,0.000000,5.959208,127.510927,0.003935,71.5,0.0,8.275,0.000025,283.690186,...,14.997738,59.962311,0.000008,283.690186,0.100000,22.469889,0.847751,0.105969,423.875331,0.0

In [106]:
plot_df(final_df_02, filename='all_columns_ddpg_002.html')

In [105]:
sum(1.0/1000.0 * (900 / 3600.0)*obs_df_02['P'])

589.16566097592

In [119]:
sum(index.month==1)

2976

In [122]:
sum(e_cost_df_02['e_cost'])

7452.840386123038

In [130]:
actions_df_03 = pd.read_csv("../preds/actions_df_ddpg_003.csv")
reward_df_03 = pd.read_csv("../preds/reward_df_ddpg_003.csv")
obs_df_03 = pd.read_csv("../preds/obs_df_ddpg_003.csv")
e_cost_df_03 = pd.read_csv("../preds/e_costs_df_ddpg_003.csv")
net_energy_df_03 = pd.read_csv("../preds/net_energy_df_ddpg_003.csv")
net_power_df_03 = pd.read_csv("../preds/net_power_df_ddpg_003.csv")


actions_df_03.index = pd.to_datetime(index)
reward_df_03.index = pd.to_datetime(index)
obs_df_03.index = pd.to_datetime(index)
e_cost_df_03.index = pd.to_datetime(index)
net_energy_df_03.index = pd.to_datetime(index)
net_power_df_03.index = pd.to_datetime(index)

e_price_2014 = pd.read_csv("../e_tariffs/e_price_2014.csv", index_col=0, parse_dates=True)
e_price_2014.index = pd.to_datetime(e_price_2014.index)

In [131]:
final_df_03 = pd.concat([e_price_2014, obs_df_03, reward_df_03, actions_df_03,e_cost_df_03,net_energy_df_03,net_power_df_03],axis=1)
final_df_03["Tcomfort"] = final_df_03["reward"] + final_df_03["e_cost"]
final_df_03.head()

,e_price,CoolA,FanPowerA,HeatA,LigA,OutRH,OutSI,OutTemp,P,P_batt,...,CwTempA,HwTempA,LigA_input,P_ctrl,SaFrA,SaTempA,e_cost,net_energy,net_power,Tcomfort
2014-01-01 00:00:00,8,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000000,0.000000,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2014-01-01 00:15:00,8,3131.904426,348.827959,0.000000,0.000000,77.0,0.0,9.350,0.000076,1497.518555,...,14.725409,30.000029,0.000000e+00,1497.518555,0.926387,19.905361,5.780629,0.722579,2890.314579,0.0
2014-01-01 00:30:00,8,0.000000,5.959208,68.248168,0.000042,74.0,0.0,9.075,0.000076,963.329590,...,6.594240,30.001255,8.940697e-08,963.329590,0.100000,22.654282,2.082258,0.260282,1041.128940,0.0
2014-01-01 00:45:00,8,0.000000,5.959208,117.700811,0.000056,71.0,0.0,8.800,0.000076,726.354492,...,8.483440,30.003717,1.192093e-07,726.354492,0.100000,22.982313,1.712419,0.214052,856.209270,0.0
2014-01-01 01:00:00,8,0.000000,5.959208,192.134065,0.000042,71.5,0.0,8.275,0.000076,553.326660,...,10.977774,30.010880,8.940697e-08,553.326660,0.100000,23.146002,1.523064,0.190383,761.532218,0.0

In [124]:
sum(e_cost_df_03['e_cost'])

5789.7353647361415

In [126]:
plot_df(final_df_03, filename='all_columns_ddpg_003.html')

In [132]:
actions_df_04 = pd.read_csv("../preds/actions_df_dp4g_001.csv")
reward_df_04 = pd.read_csv("../preds/reward_df_dp4g_001.csv")
obs_df_04 = pd.read_csv("../preds/obs_df_dp4g_001.csv")
e_cost_df_04 = pd.read_csv("../preds/e_costs_df_dp4g_001.csv")
net_energy_df_04 = pd.read_csv("../preds/net_energy_df_dp4g_001.csv")
net_power_df_04 = pd.read_csv("../preds/net_power_df_dp4g_001.csv")


actions_df_04.index = pd.to_datetime(index)
reward_df_04.index = pd.to_datetime(index)
obs_df_04.index = pd.to_datetime(index)
e_cost_df_04.index = pd.to_datetime(index)
net_energy_df_04.index = pd.to_datetime(index)
net_power_df_04.index = pd.to_datetime(index)

e_price_2014 = pd.read_csv("../e_tariffs/e_price_2014.csv", index_col=0, parse_dates=True)
e_price_2014.index = pd.to_datetime(e_price_2014.index)

In [133]:
final_df_04 = pd.concat([e_price_2014, obs_df_04, reward_df_04, actions_df_04,e_cost_df_04,net_energy_df_04,net_power_df_04],axis=1)
final_df_04["Tcomfort"] = final_df_04["reward"] + final_df_04["e_cost"]
final_df_04.head()

,e_price,CoolA,FanPowerA,HeatA,LigA,OutRH,OutSI,OutTemp,P,P_batt,...,CwTempA,HwTempA,LigA_input,P_ctrl,SaFrA,SaTempA,e_cost,net_energy,net_power,Tcomfort
2014-01-01 00:00:00,8,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0
2014-01-01 00:15:00,8,392.756673,5.959208,0.0,0.0,77.0,0.0,9.350,0.000076,209.331055,...,8.695532,32.012581,0.0,209.331055,0.1,19.519541,0.692418,0.086552,346.209077,0.0
2014-01-01 00:30:00,8,240.776034,5.959208,0.0,0.0,74.0,0.0,9.075,0.000076,186.275146,...,5.845575,38.187225,0.0,186.275146,0.1,19.709927,0.544986,0.068123,272.492956,0.0
2014-01-01 00:45:00,8,236.845124,5.959208,0.0,0.0,71.0,0.0,8.800,0.000076,180.381348,...,7.580124,39.136982,0.0,180.381348,0.1,19.290043,0.530578,0.066322,265.288854,0.0
2014-01-01 01:00:00,8,205.952123,5.959208,0.0,0.0,71.5,0.0,8.275,0.000076,140.893555,...,10.559698,34.039646,0.0,140.893555,0.1,19.191328,0.431007,0.053876,215.503394,0.0

In [129]:
plot_df(final_df_03, filename='all_columns_d4pg_001.html')

In [140]:
actions_df_05 = pd.read_csv("../preds/actions_df_dp4g_002.csv")
reward_df_05 = pd.read_csv("../preds/reward_df_dp4g_002.csv")
obs_df_05 = pd.read_csv("../preds/obs_df_dp4g_002.csv")
e_cost_df_05 = pd.read_csv("../preds/e_costs_df_dp4g_002.csv")
net_energy_df_05 = pd.read_csv("../preds/net_energy_df_dp4g_002.csv")
net_power_df_05 = pd.read_csv("../preds/net_power_df_dp4g_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
net_energy_df_05.index = pd.to_datetime(index)
net_power_df_05.index = pd.to_datetime(index)

e_price_2014 = pd.read_csv("../e_tariffs/e_price_2014.csv", index_col=0, parse_dates=True)
e_price_2014.index = pd.to_datetime(e_price_2014.index)

In [141]:
final_df_05 = pd.concat([e_price_2014, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05,net_energy_df_05,net_power_df_05],axis=1)
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05.head()

,e_price,CoolA,FanPowerA,HeatA,LigA,OutRH,OutSI,OutTemp,P,P_batt,...,CwTempA,HwTempA,LigA_input,P_ctrl,SaFrA,SaTempA,e_cost,net_energy,net_power,Tcomfort
2014-01-01 00:00:00,8,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0
2014-01-01 00:15:00,8,911.880717,5.959208,0.000000,0.0,77.0,0.0,9.350,0.000076,680.480957,...,12.886711,30.000334,0.0,680.480957,0.1,14.124861,1.980801,0.247600,990.400328,0.0
2014-01-01 00:30:00,8,3.687590,5.959208,45.657579,0.0,74.0,0.0,9.075,0.000076,25.005859,...,7.242727,30.311638,0.0,25.005859,0.1,22.480274,0.160510,0.020064,80.254798,0.0
2014-01-01 00:45:00,8,8.305599,5.959208,0.000000,0.0,71.0,0.0,8.800,0.000076,-13.482422,...,9.572248,30.075930,0.0,-13.482422,0.1,21.782476,0.000000,-0.001189,-4.754757,0.0
2014-01-01 01:00:00,8,0.000000,5.959208,26.981024,0.0,71.5,0.0,8.275,0.000076,51.837891,...,9.589709,30.088264,0.0,51.837891,0.1,21.689850,0.172396,0.021550,86.198100,0.0

In [ ]:
#plot_df(final_df_05, filename='all_columns_d4pg_002.html')

In [143]:
final_df_03.columns = [col+'_DDPG' for col in final_df_03.columns]

In [144]:
final_df_04.columns = [col+'_D4PG' for col in final_df_04.columns]

In [145]:
final_df_05.columns = [col+'_D4PG_2' for col in final_df_05.columns]

In [146]:
final_df_03_04_05 = pd.concat([final_df_03, final_df_04, final_df_05],axis=1)

In [147]:
plot_df(final_df_03_04_05, filename='all_columns_d4pg_ddpg_001.html')

In [139]:
Vmax = 25.0
Vmin = -25.0
N_ATOMS = 51
(Vmax - Vmin) / (N_ATOMS - 1)

1.0

In [4]:
index = pd.date_range(start='1/1/{0}'.format(2017), end='1/1/{0}'.format(2017+1), periods=35040+1)
index = index[:-1]

In [5]:
actions_df_05 = pd.read_csv("../preds/actions_df_ddpg_multienv_001.csv")
reward_df_05 = pd.read_csv("../preds/reward_df_ddpg_multienv_001.csv")
obs_df_05 = pd.read_csv("../preds/obs_df_ddpg_multienv_001.csv")
e_cost_df_05 = pd.read_csv("../preds/e_costs_df_ddpg_multienv_001.csv")
net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_001.csv")
net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_001.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
net_energy_df_05.index = pd.to_datetime(index)
net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_price_2017.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

In [6]:
final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05,net_energy_df_05,net_power_df_05],axis=1)
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05.head()

,e_price,CoolA,FanPowerA,HeatA,LigA,MelsA,OutRH,OutSI,OutTemp,P,...,ZoneTempA,reward,LigA_input,P_ctrl,SaFrA,SaTempA,e_cost,net_energy,net_power,Tcomfort
2017-01-01 00:00:00,8,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.000,0.000000,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2017-01-01 00:15:00,8,1265.674598,5.959208,0.000000,0.190790,231.403202,76.50,0.0,9.450,0.000076,...,22.164982,-2.778976,4.060566e-04,730.043457,0.100000,10.004648,2.778976,0.347372,1389.488113,0.0
2017-01-01 00:30:00,8,0.000000,5.962376,847.951228,0.000098,231.403202,75.25,0.0,10.025,0.000076,...,22.835193,-3.609492,2.086163e-07,674.800293,0.100036,30.000000,3.609492,0.451187,1804.746133,0.0
2017-01-01 00:45:00,8,0.000000,5.959263,874.397427,0.000000,231.403202,74.00,0.0,10.600,0.000076,...,22.995536,-4.022111,0.000000e+00,853.274902,0.100001,30.000000,4.022111,0.502764,2011.055635,0.0
2017-01-01 01:00:00,8,0.000000,5.959223,911.471046,0.000000,231.403202,73.25,0.0,10.600,0.000076,...,23.149283,-5.360934,0.000000e+00,1483.661621,0.100000,30.000000,5.360934,0.670117,2680.467176,0.0

In [7]:
plot_df(final_df_05, filename='all_columns_ddpg_multienv_001.html')

In [14]:
index = pd.date_range(start='1/1/{0}'.format(2017), end='1/1/{0}'.format(2017+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../preds/actions_df_ddpg_multienv_002.csv")
reward_df_05 = pd.read_csv("../preds/reward_df_ddpg_multienv_002.csv")
obs_df_05 = pd.read_csv("../preds/obs_df_ddpg_multienv_002.csv")
e_cost_df_05 = pd.read_csv("../preds/e_costs_df_ddpg_multienv_002.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_price_2017.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

In [15]:
final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05.head()

,e_price,OutRH,OutSI,OutTemp,P,SOC,ZoneTempA,net_energy,net_power,reward,LigA_input,P_ctrl,SaFrA,SaTempA,e_cost,Tcomfort
2017-01-01 00:00:00,8,0.00,0.0,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
2017-01-01 00:15:00,8,76.50,0.0,9.450,0.000076,0.158111,21.900639,0.700422,2801.688451,-5.611316e+00,0.063005,1765.517578,0.618509,19.815250,5.603377,-7.939238e-03
2017-01-01 00:30:00,8,75.25,0.0,10.025,0.000076,0.166136,24.187396,0.800350,3201.401702,-6.402803e+00,0.000000,243.831787,0.883016,25.777170,6.402803,0.000000e+00
2017-01-01 00:45:00,8,74.00,0.0,10.600,0.000076,0.146912,22.160411,-0.030284,-121.134784,-8.905092e-09,0.000067,-496.872314,0.232357,21.008343,0.000000,-8.905092e-09
2017-01-01 01:00:00,8,73.25,0.0,10.600,0.000076,0.188077,22.657226,0.612929,2451.716959,-4.903434e+00,0.000124,1250.661621,0.105481,29.932556,4.903434,-3.059331e-08

In [16]:
plot_df(final_df_05, filename='all_columns_ddpg_multienv_002.html')

In [8]:
index = pd.date_range(start='1/1/{0}'.format(2017), end='1/1/{0}'.format(2017+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../preds/actions_df_ddpg_multienv_003.csv")
reward_df_05 = pd.read_csv("../preds/reward_df_ddpg_multienv_003.csv")
obs_df_05 = pd.read_csv("../preds/obs_df_ddpg_multienv_003.csv")
e_cost_df_05 = pd.read_csv("../preds/e_costs_df_ddpg_multienv_003.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_price_2017.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05.head()

,e_price,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,ZoneTempB,ZoneTotalIlluB,net_energy,net_power,reward,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort
2017-01-01 00:00:00,8,0.00,0.0,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
2017-01-01 00:15:00,8,76.50,0.0,9.450,0.000179,0.000179,0.198556,144.25,22.652589,500.272374,1.109206,4.436823,-52.916687,0.929874,2994.310059,0.1,29.945669,12.367645,-40.549042
2017-01-01 00:30:00,8,75.25,0.0,10.025,0.000179,0.000179,0.210432,144.50,22.504205,507.233703,0.442514,1.770055,-46.746561,0.942814,360.831787,0.1,29.521549,4.934029,-41.812532
2017-01-01 00:45:00,8,74.00,0.0,10.600,0.000179,0.000179,0.218146,144.75,22.617754,0.003896,0.366662,1.466650,-4.088286,0.000007,234.372314,0.1,29.997208,4.088286,0.000000
2017-01-01 01:00:00,8,73.25,0.0,10.600,0.000179,0.000179,0.215699,145.00,22.888236,535.948623,0.352817,1.411268,-51.163122,0.996187,-63.263428,0.1,29.987953,3.933910,-47.229213

In [9]:
final_df_05["e_cost"].sum()

13771.816815302267

In [10]:
final_df_05["reward"].sum()

-391366.7866936351

In [3]:
index = pd.date_range(start='1/1/{0}'.format(2017), end='1/1/{0}'.format(2017+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../preds/actions_df_ddpg_multienv_005.csv")
reward_df_05 = pd.read_csv("../preds/reward_df_ddpg_multienv_005.csv")
obs_df_05 = pd.read_csv("../preds/obs_df_ddpg_multienv_005.csv")
e_cost_df_05 = pd.read_csv("../preds/e_costs_df_ddpg_multienv_005.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_price_2017.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05.head()

,e_price,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,ZoneTempB,ZoneTotalIlluB,net_energy,net_power,reward,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort
2017-01-01 00:00:00,8,0.00,0.0,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2017-01-01 00:15:00,8,76.50,0.0,9.450,0.000179,0.000179,0.185210,144.25,22.339716,537.987430,0.804175,3.216698,-8.966547,0.999977,2588.855957,0.101974,22.202436,8.966547,0.0
2017-01-01 00:30:00,8,75.25,0.0,10.025,0.000179,0.000179,0.170935,144.50,22.353857,537.859449,0.087340,0.349361,-0.973845,0.999739,-368.975586,0.101075,23.009251,0.973845,0.0
2017-01-01 00:45:00,8,74.00,0.0,10.600,0.000179,0.000179,0.158386,144.75,22.350581,537.868973,0.079999,0.319996,-0.891990,0.999756,-324.337646,0.101944,22.267902,0.891990,0.0
2017-01-01 01:00:00,8,73.25,0.0,10.600,0.000179,0.000179,0.152553,145.00,22.275859,537.918421,0.120380,0.481520,-1.342236,0.999848,-150.759033,0.101434,22.189880,1.342236,0.0

In [4]:
plot_df(final_df_05, filename='all_columns_ddpg_multienv_005_no_light_pen.html')

In [5]:
index = pd.date_range(start='1/1/{0}'.format(2017), end='1/1/{0}'.format(2017+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../preds/actions_df_ddpg_multienv_006.csv")
reward_df_05 = pd.read_csv("../preds/reward_df_ddpg_multienv_006.csv")
obs_df_05 = pd.read_csv("../preds/obs_df_ddpg_multienv_006.csv")
e_cost_df_05 = pd.read_csv("../preds/e_costs_df_ddpg_multienv_006.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_price_2017.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05.head()

,e_price,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,ZoneTempB,ZoneTotalIlluB,net_energy,net_power,reward,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort
2017-01-01 00:00:00,8,0.00,0.0,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0
2017-01-01 00:15:00,8,76.50,0.0,9.450,0.000179,0.000179,0.136153,144.25,22.656986,538.0,0.641391,2.565565,-7.151513,1.0,1098.403809,0.100168,30.0,7.151513,0.0
2017-01-01 00:30:00,8,75.25,0.0,10.025,0.000179,0.000179,0.148218,144.50,22.527302,538.0,0.460944,1.843776,-5.139525,1.0,366.545166,0.100635,30.0,5.139525,0.0
2017-01-01 00:45:00,8,74.00,0.0,10.600,0.000179,0.000179,0.156021,144.75,22.674547,538.0,0.430671,1.722686,-4.801987,1.0,237.078369,0.100629,30.0,4.801987,0.0
2017-01-01 01:00:00,8,73.25,0.0,10.600,0.000179,0.000179,0.161122,145.00,22.965297,538.0,0.408939,1.635758,-4.559675,1.0,154.979492,0.100503,30.0,4.559675,0.0

In [6]:
plot_df(final_df_05, filename='all_columns_ddpg_multienv_006_no_light_pen_2.html')

In [11]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../preds/actions_df_ddpg_multienv_003_2014.csv")
reward_df_05 = pd.read_csv("../preds/reward_df_ddpg_multienv_003_2014.csv")
obs_df_05 = pd.read_csv("../preds/obs_df_ddpg_multienv_003_2014.csv")
e_cost_df_05 = pd.read_csv("../preds/e_costs_df_ddpg_multienv_003_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05.head()

,e_price,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,ZoneTempB,ZoneTotalIlluB,net_energy,net_power,reward,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort
2014-01-01 00:00:00,8,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
2014-01-01 00:15:00,8,77.0,0.0,9.350,0.000179,0.000179,0.128324,48.25,22.730762,35.478891,0.473875,1.895502,-5.283711,0.065946,860.540527,0.1,28.506399,5.283711,0.0
2014-01-01 00:30:00,8,74.0,0.0,9.075,0.000179,0.000179,0.142551,48.50,22.617335,288.941306,0.436150,1.744599,-4.863069,0.537066,432.249756,0.1,29.999924,4.863069,0.0
2014-01-01 00:45:00,8,71.0,0.0,8.800,0.000179,0.000179,0.157704,48.75,22.766952,1.444568,0.413269,1.653074,-4.607945,0.002685,460.366943,0.1,29.999996,4.607945,0.0
2014-01-01 01:00:00,8,71.5,0.0,8.275,0.000179,0.000179,0.166144,49.00,23.053568,440.358217,0.411715,1.646859,-4.590621,0.818510,256.419189,0.1,29.999897,4.590621,0.0

In [12]:
plot_df(final_df_05, filename='all_columns_ddpg_multienv_003_2014.html')

In [16]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../preds/actions_df_ddpg_multienv_007_2014.csv")
reward_df_05 = pd.read_csv("../preds/reward_df_ddpg_multienv_007_2014.csv")
obs_df_05 = pd.read_csv("../preds/obs_df_ddpg_multienv_007_2014.csv")
e_cost_df_05 = pd.read_csv("../preds/e_costs_df_ddpg_multienv_007_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,ZoneTempB,net_energy,net_power,reward,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,8,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000e+00
2014-01-01 00:15:00,8,77.0,0.0,9.350,0.000179,0.000179,0.135150,48.25,22.593518,0.465282,1.861129,-5.187897,1067.910645,0.102377,26.291969,5.187897,0.0,3.573101e-07
2014-01-01 00:30:00,8,74.0,0.0,9.075,0.000179,0.000179,0.158430,48.50,22.640358,0.859079,3.436317,-9.578734,707.299072,0.269740,29.679165,9.578734,0.0,3.573314e-07
2014-01-01 00:45:00,8,71.0,0.0,8.800,0.000179,0.000179,0.192508,48.75,23.104859,0.834166,3.336663,-9.300947,1035.368164,0.249605,28.865213,9.300947,0.0,3.573628e-07
2014-01-01 01:00:00,8,71.5,0.0,8.275,0.000179,0.000179,0.227022,49.00,23.249903,0.391678,1.566713,-4.367214,1048.610352,0.263229,22.487480,4.367214,0.0,3.574020e-07

In [17]:
plot_df(final_df_05, filename='all_columns_ddpg_multienv_007_2014.html')

In [21]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../preds/actions_df_ddpg_multienv_008_2014.csv")
reward_df_05 = pd.read_csv("../preds/reward_df_ddpg_multienv_008_2014.csv")
obs_df_05 = pd.read_csv("../preds/obs_df_ddpg_multienv_008_2014.csv")
e_cost_df_05 = pd.read_csv("../preds/e_costs_df_ddpg_multienv_008_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,ZoneTempB,net_energy,net_power,reward,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,8,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,8,77.0,0.0,9.350,0.000179,0.000179,0.208617,48.25,23.924628,2.438593,9.754374,-135.951582,3300.000000,1.994639,26.072882,27.190316,-108.761265,3.573101e-07
2014-01-01 00:30:00,8,74.0,0.0,9.075,0.000179,0.000179,0.197098,48.50,23.898320,0.546409,2.185635,-30.462287,-297.719238,1.944523,24.402613,6.092457,-24.369830,3.573314e-07
2014-01-01 00:45:00,8,71.0,0.0,8.800,0.000179,0.000179,0.188104,48.75,20.567064,1.079705,4.318820,-60.193553,-232.458496,1.430808,15.525446,12.038711,-48.154843,3.573628e-07
2014-01-01 01:00:00,8,71.5,0.0,8.275,0.000179,0.000179,0.181783,49.00,20.849625,0.028469,0.113874,-1.587125,-163.379150,0.100110,20.676247,0.317425,-1.269700,3.574020e-07

In [22]:
plot_df(final_df_05, filename='all_columns_ddpg_multienv_008_2014.html')

In [23]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../preds/actions_df_ddpg_multienv_009_2014.csv")
reward_df_05 = pd.read_csv("../preds/reward_df_ddpg_multienv_009_2014.csv")
obs_df_05 = pd.read_csv("../preds/obs_df_ddpg_multienv_009_2014.csv")
e_cost_df_05 = pd.read_csv("../preds/e_costs_df_ddpg_multienv_009_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,ZoneTempB,ZoneTotalIlluB,net_energy,net_power,reward,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,8,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,8,77.0,0.0,9.350,0.000179,0.000179,0.150020,48.25,25.643523,269.505862,1.968290,7.873162,-219.485125,5.009403e-01,1519.704102,1.157568,29.999996,21.946439,-197.538686,3.573101e-07
2014-01-01 00:30:00,8,74.0,0.0,9.075,0.000179,0.000179,0.182107,48.50,25.015022,49.477694,0.483033,1.932133,-26.929101,9.196597e-02,974.851074,0.100009,30.000000,5.385820,-21.543281,3.573314e-07
2014-01-01 00:45:00,8,71.0,0.0,8.800,0.000179,0.000179,0.196623,48.75,24.976801,0.000112,0.354788,1.419153,-19.779443,2.086163e-07,441.025635,0.100000,30.000000,3.955889,-15.823555,3.573628e-07
2014-01-01 01:00:00,8,71.5,0.0,8.275,0.000179,0.000179,0.206313,49.00,24.963801,0.000000,0.322720,1.290882,-17.991668,0.000000e+00,294.405762,0.100000,30.000000,3.598334,-14.393334,3.574020e-07

In [24]:
plot_df(final_df_05, filename='all_columns_ddpg_multienv_009_2014.html')

In [25]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../preds/actions_df_ddpg_multienv_010_2014.csv")
reward_df_05 = pd.read_csv("../preds/reward_df_ddpg_multienv_010_2014.csv")
obs_df_05 = pd.read_csv("../preds/obs_df_ddpg_multienv_010_2014.csv")
e_cost_df_05 = pd.read_csv("../preds/e_costs_df_ddpg_multienv_010_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,ZoneTempB,net_energy,net_power,reward,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,8,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,8,77.0,0.0,9.350,0.000179,0.000179,0.208617,48.25,22.759760,1.120149,4.480596,-124.896614,3300.000000,0.1,29.985271,12.489661,-112.406953,3.573101e-07
2014-01-01 00:30:00,8,74.0,0.0,9.075,0.000179,0.000179,0.210419,48.50,22.432662,0.168214,0.672857,-18.755894,54.749023,0.1,24.711065,1.875589,-16.880305,3.573314e-07
2014-01-01 00:45:00,8,71.0,0.0,8.800,0.000179,0.000179,0.216565,48.75,22.207454,0.157257,0.629027,-17.534136,186.717773,0.1,22.891743,1.753414,-15.780723,3.573628e-07
2014-01-01 01:00:00,8,71.5,0.0,8.275,0.000179,0.000179,0.220399,49.00,22.139365,0.164387,0.657547,-18.329114,116.498291,0.1,23.875410,1.832911,-16.496203,3.574020e-07

In [26]:
plot_df(final_df_05, filename='all_columns_ddpg_multienv_010_2014.html')

In [33]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_12/actions_df_ddpg_test_12_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_12/obs_df_ddpg_test_12_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_12/reward_df_ddpg_test_12_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_12/e_costs_df_ddpg_test_12_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,reward,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,ZoneTempB,ZoneTotalIlluB,net_energy,net_power,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,8,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,8,-41.770553,77.0,0.0,9.350,0.000179,0.000179,0.134738,48.25,23.012124,0.059036,0.374624,1.498495,1.097322e-04,1055.412598,0.1,23.361013,4.177055,-37.593498,3.573101e-07
2014-01-01 00:30:00,8,-46.911042,74.0,0.0,9.075,0.000179,0.000179,0.173581,48.50,22.605028,0.001812,0.420727,1.682907,3.367662e-06,1180.135742,0.1,13.528538,4.691104,-42.219938,3.573314e-07
2014-01-01 00:45:00,8,-46.045187,71.0,0.0,8.800,0.000179,0.000179,0.210482,48.75,22.232725,0.000417,0.412961,1.651845,7.748604e-07,1121.101562,0.1,12.662762,4.604519,-41.440668,3.573628e-07
2014-01-01 01:00:00,8,-46.205989,71.5,0.0,8.275,0.000179,0.000179,0.247075,49.00,21.911412,0.000080,0.414403,1.657614,1.490116e-07,1111.771973,0.1,12.190057,4.620599,-41.585390,3.574020e-07

In [34]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_12/all_columns_ddpg_test_12_2014.html')

In [35]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_no_Lig_1/Test_10/actions_df_ddpg_test_10_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_no_Lig_1/Test_10/obs_df_ddpg_test_10_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_no_Lig_1/Test_10/reward_df_ddpg_test_10_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_no_Lig_1/Test_10/e_costs_df_ddpg_test_10_2014.csv")

#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,d_price,reward,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,ZoneTempB,net_energy,net_power,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,0.1115,21.08,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,0.1115,21.08,-107.016936,77.0,0.0,9.350,0.000179,0.000179,0.206973,48.25,22.823694,0.959793,3.839173,3250.034668,0.1,18.361404,10.701694,-96.315243,3.573101e-07
2014-01-01 00:30:00,0.1115,21.08,-8.258670,74.0,0.0,9.075,0.000179,0.000179,0.194544,48.50,22.824362,0.074069,0.296275,-321.235840,0.1,22.707525,0.825867,-7.432803,3.573314e-07
2014-01-01 00:45:00,0.1115,21.08,-12.503543,71.0,0.0,8.800,0.000179,0.000179,0.189014,48.75,22.678790,0.112139,0.448558,-142.930664,0.1,18.270142,1.250354,-11.253188,3.573628e-07
2014-01-01 01:00:00,0.1115,21.08,-11.659187,71.5,0.0,8.275,0.000179,0.000179,0.183900,49.00,22.426674,0.104567,0.418267,-132.175537,0.1,19.499081,1.165919,-10.493268,3.574020e-07

In [36]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_no_Lig_1/Test_10/all_columns_ddpg_test_10_2014.html')

In [ ]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_15/actions_df_ddpg_test_15_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_15/obs_df_ddpg_test_15_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_15/reward_df_ddpg_test_15_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_15/e_costs_df_ddpg_test_15_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

In [ ]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_15/all_columns_ddpg_test_15_2014.html')

In [2]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_20/actions_df_ddpg_test_20_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_20/obs_df_ddpg_test_20_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_20/reward_df_ddpg_test_20_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_20/e_costs_df_ddpg_test_20_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,d_price,reward,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,...,ZoneTotalIlluB,net_energy,net_power,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,0.1115,21.08,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,0.1115,21.08,-109.323938,77.0,0.0,9.350,0.000179,0.000179,0.208617,48.25,...,0.0,0.980484,3.921935,0.0,3300.000000,0.1,10.0,10.932394,-98.391545,3.573101e-07
2014-01-01 00:30:00,0.1115,21.08,-10.442409,74.0,0.0,9.075,0.000179,0.000179,0.199147,48.50,...,0.0,0.093654,0.374616,0.0,-244.763672,0.1,10.0,1.044241,-9.398168,3.573314e-07
2014-01-01 00:45:00,0.1115,21.08,-12.866881,71.0,0.0,8.800,0.000179,0.000179,0.192995,48.75,...,0.0,0.115398,0.461592,0.0,-158.996826,0.1,10.0,1.286688,-11.580193,3.573628e-07
2014-01-01 01:00:00,0.1115,21.08,-13.416228,71.5,0.0,8.275,0.000179,0.000179,0.187786,49.00,...,0.0,0.120325,0.481300,0.0,-134.655762,0.1,10.0,1.341623,-12.074605,3.574020e-07

In [3]:
final_df_05["e_cost"].sum()

43045.751756312064

In [4]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_20/all_columns_ddpg_test_20_2014.html')

In [ ]:
final_df_05["net_energy"].sum()

In [2]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_25/actions_df_ddpg_test_25_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_25/obs_df_ddpg_test_25_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_25/reward_df_ddpg_test_25_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_25/e_costs_df_ddpg_test_25_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,d_price,reward,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,...,ZoneTotalIlluB,net_energy,net_power,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,0.1115,21.08,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,0.1115,21.08,-109.695466,77.0,0.0,9.350,0.000179,0.000179,0.208617,48.25,...,0.0,0.961394,3.845577,0.0,3300.000000,0.1,12.282457,10.719547,-98.975919,3.573101e-07
2014-01-01 00:30:00,0.1115,21.08,-16.444015,74.0,0.0,9.075,0.000179,0.000179,0.189439,48.50,...,0.0,0.125058,0.500234,0.0,-495.678955,0.1,28.470566,1.394402,-15.049614,3.573314e-07
2014-01-01 00:45:00,0.1115,21.08,-7.668552,71.0,0.0,8.800,0.000179,0.000179,0.186753,48.75,...,0.0,0.046355,0.185419,0.0,-69.424316,0.1,20.867661,0.516855,-7.151697,3.573628e-07
2014-01-01 01:00:00,0.1115,21.08,-14.234784,71.5,0.0,8.275,0.000179,0.000179,0.187292,49.00,...,0.0,0.105245,0.420979,0.0,16.364990,0.1,16.458382,1.173478,-13.061306,3.574020e-07

In [3]:
final_df_05["e_cost"].sum()

16216.965235549724

In [4]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_25/all_columns_ddpg_test_25_2014.html')

In [5]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_24/actions_df_ddpg_test_24_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_24/obs_df_ddpg_test_24_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_24/reward_df_ddpg_test_24_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_24/e_costs_df_ddpg_test_24_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,d_price,reward,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,...,ZoneTotalIlluB,net_energy,net_power,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,0.1115,21.08,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,0.1115,21.08,-42.852322,77.0,0.0,9.350,0.000179,0.000179,0.127181,48.25,...,0.0,0.361904,1.447617,0.0,825.799805,0.1,10.002419,4.035232,-38.817090,3.573101e-07
2014-01-01 00:30:00,0.1115,21.08,-45.451621,74.0,0.0,9.075,0.000179,0.000179,0.157511,48.50,...,0.0,0.385216,1.540865,0.0,921.488281,0.1,10.000144,4.295162,-41.156459,3.573314e-07
2014-01-01 00:45:00,0.1115,21.08,-32.167518,71.0,0.0,8.800,0.000179,0.000179,0.172129,48.75,...,0.0,0.266076,1.064306,0.0,444.119141,0.1,10.011524,2.966752,-29.200766,3.573628e-07
2014-01-01 01:00:00,0.1115,21.08,-29.066338,71.5,0.0,8.275,0.000179,0.000179,0.183597,49.00,...,0.0,0.238263,0.953052,0.0,348.445312,0.1,10.338872,2.656634,-26.409704,3.574020e-07

In [6]:
final_df_05["e_cost"].sum()

15440.139878544933

In [7]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_24/all_columns_ddpg_test_24_2014.html')

In [2]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_42/actions_df_ddpg_test_42_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_42/obs_df_ddpg_test_42_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_42/reward_df_ddpg_test_42_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_42/e_costs_df_ddpg_test_42_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,d_price,reward,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,...,ZoneTotalIlluB,net_energy,net_power,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,0.1115,21.08,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,...,0.0,0.000000,0.000000,0.0,0.000000,0.00,0.000000,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,0.1115,21.08,-102.830108,77.0,0.0,9.350,0.000179,0.000179,0.208617,48.25,...,0.0,0.894383,3.577530,0.0,3300.000000,0.05,18.792170,9.972366,-92.857742,3.573101e-07
2014-01-01 00:30:00,0.1115,21.08,-15.812466,74.0,0.0,9.075,0.000179,0.000179,0.209972,48.50,...,0.0,0.102528,0.410111,0.0,41.159180,0.05,13.268574,1.143183,-14.669283,3.573314e-07
2014-01-01 00:45:00,0.1115,21.08,-19.558138,71.0,0.0,8.800,0.000179,0.000179,0.214851,48.75,...,0.0,0.133846,0.535385,0.0,148.233887,0.05,12.196163,1.492385,-18.065753,3.573628e-07
2014-01-01 01:00:00,0.1115,21.08,-19.453041,71.5,0.0,8.275,0.000179,0.000179,0.219430,49.00,...,0.0,0.132458,0.529833,0.0,139.120605,0.05,11.938231,1.476911,-17.976130,3.574020e-07

In [3]:
final_df_05["e_cost"].sum()

16503.30725261742

In [4]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_42/all_columns_ddpg_test_42_2014.html')

In [2]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_57/actions_df_ddpg_test_57_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_57/obs_df_ddpg_test_57_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_57/reward_df_ddpg_test_57_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_57/e_costs_df_ddpg_test_57_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,d_price,reward,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,...,ZoneTotalIlluB,net_energy,net_power,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,0.1115,21.08,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.00,0.0,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,0.1115,21.08,-1.273809,77.0,0.0,9.350,0.000179,0.000179,0.208617,48.25,...,0.000000,0.931557,3.726228,0.000000e+00,3300.000000,0.05,10.0,10.386861,9.113052,3.573101e-07
2014-01-01 00:30:00,0.1115,21.08,-1.272672,74.0,0.0,9.075,0.000179,0.000179,0.317234,48.50,...,0.000016,0.930877,3.723509,2.980232e-08,3300.000000,0.05,10.0,10.379282,9.106610,3.573314e-07
2014-01-01 00:45:00,0.1115,21.08,-0.969662,71.0,0.0,8.800,0.000179,0.000179,0.390102,48.75,...,0.000000,0.659194,2.636776,0.000000e+00,2213.860840,0.05,10.0,7.350012,6.380350,3.573628e-07
2014-01-01 01:00:00,0.1115,21.08,-1.000973,71.5,0.0,8.275,0.000179,0.000179,0.466727,49.00,...,0.000000,0.687429,2.749715,0.000000e+00,2328.026855,0.05,10.0,7.664832,6.663859,3.574020e-07

In [3]:
final_df_05["e_cost"].sum()

29954.04199337411

In [4]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_57/all_columns_ddpg_test_57_2014.html')

In [3]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_55/actions_df_ddpg_test_55_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_55/obs_df_ddpg_test_55_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_55/reward_df_ddpg_test_55_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_55/e_costs_df_ddpg_test_55_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,d_price,reward,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,...,ZoneTotalIlluB,net_energy,net_power,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,0.1115,21.08,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,0.1115,21.08,-1.219866,77.0,0.0,9.350,0.000179,0.000179,0.208603,48.25,...,0.000000,0.899268,3.597074,0.000000,3299.571777,0.05,17.563738,10.026843,8.806978,3.573101e-07
2014-01-01 00:30:00,0.1115,21.08,-1.273170,74.0,0.0,9.075,0.000179,0.000179,0.314508,48.50,...,0.000000,0.924308,3.697234,0.000000,3217.597168,0.05,25.890888,10.306039,9.032869,3.573314e-07
2014-01-01 00:45:00,0.1115,21.08,-1.275306,71.0,0.0,8.800,0.000179,0.000179,0.423084,48.75,...,0.002405,0.932354,3.729415,0.000004,3298.741699,0.05,24.914164,10.395743,9.120437,3.573628e-07
2014-01-01 01:00:00,0.1115,21.08,-1.258487,71.5,0.0,8.275,0.000179,0.000179,0.531616,49.00,...,4.808684,0.934345,3.737380,0.008938,3297.419434,0.05,25.052734,10.417948,9.159461,3.574020e-07

In [4]:
final_df_05["e_cost"].sum()

32399.061882484064

In [5]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_55/all_columns_ddpg_test_55_2014.html')

In [ ]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_59/actions_df_ddpg_test_59_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_59/obs_df_ddpg_test_59_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_59/reward_df_ddpg_test_59_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_59/e_costs_df_ddpg_test_59_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

In [ ]:
final_df_05["e_cost"].sum()

In [ ]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_59/all_columns_ddpg_test_59_2014.html')

In [3]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_56/actions_df_ddpg_test_56_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_56/obs_df_ddpg_test_56_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_56/reward_df_ddpg_test_56_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_56/e_costs_df_ddpg_test_56_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,d_price,reward,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,...,ZoneTotalIlluB,net_energy,net_power,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,0.1115,21.08,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,...,0.0,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,0.1115,21.08,-0.207731,77.0,0.0,9.350,0.000179,0.000179,0.208617,48.25,...,0.0,0.931530,3.726119,0.0,3300.0,0.05,10.031731,0.103866,-0.103866,3.573101e-07
2014-01-01 00:30:00,0.1115,21.08,-0.198074,74.0,0.0,9.075,0.000179,0.000179,0.317234,48.50,...,0.0,0.888222,3.552889,0.0,3300.0,0.05,20.167067,0.099037,-0.099037,3.573314e-07
2014-01-01 00:45:00,0.1115,21.08,-0.197662,71.0,0.0,8.800,0.000179,0.000179,0.425851,48.75,...,0.0,0.886377,3.545508,0.0,3300.0,0.05,20.457401,0.098831,-0.098831,3.573628e-07
2014-01-01 01:00:00,0.1115,21.08,-0.199566,71.5,0.0,8.275,0.000179,0.000179,0.534469,49.00,...,0.0,0.894917,3.579667,0.0,3300.0,0.05,18.506618,0.099783,-0.099783,3.574020e-07

In [4]:
final_df_05["e_cost"].sum()

1678.2530988023393

In [5]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_56/all_columns_ddpg_test_56_2014.html')

In [2]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_71/actions_df_ddpg_test_71_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_71/obs_df_ddpg_test_71_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_71/reward_df_ddpg_test_71_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_71/e_costs_df_ddpg_test_71_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,d_price,reward,OutRH,OutSI,OutTemp,P1,P2,SOC,TOD,...,ZoneTotalIlluB,net_energy,net_power,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,0.1115,21.08,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,...,0.0,0.000000,0.000000,0.0,0.000000,0.00,0.000000,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,0.1115,21.08,-0.069408,77.0,0.0,9.350,0.000179,0.000179,0.107400,0.25,...,0.0,0.155623,0.622492,0.0,224.824707,0.05,11.756421,0.017352,-0.052056,3.573101e-07
2014-01-01 00:30:00,0.1115,21.08,-0.076882,74.0,0.0,9.075,0.000179,0.000179,0.116572,0.50,...,0.0,0.172382,0.689529,0.0,278.670898,0.05,10.740775,0.019221,-0.057662,3.573314e-07
2014-01-01 00:45:00,0.1115,21.08,-0.064844,71.0,0.0,8.800,0.000179,0.000179,0.122190,0.75,...,0.0,0.145389,0.581556,0.0,170.689453,0.05,10.592453,0.016211,-0.048633,3.573628e-07
2014-01-01 01:00:00,0.1115,21.08,-0.038048,71.5,0.0,8.275,0.000179,0.000179,0.119364,1.00,...,0.0,0.085309,0.341236,0.0,-73.059814,0.05,10.484820,0.009512,-0.028536,3.574020e-07

In [3]:
final_df_05["e_cost"].sum()

391.4922234163405

In [5]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_71/all_columns_ddpg_test_71_2014.html')

In [6]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_72/actions_df_ddpg_test_72_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_72/obs_df_ddpg_test_72_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_72/reward_df_ddpg_test_72_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_72/e_costs_df_ddpg_test_72_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,d_price,reward,OutRH,OutSI,OutTemp,P1,P2,SOC,TOD,...,ZoneTotalIlluB,net_energy,net_power,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,0.1115,21.08,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,...,0.0,0.000000,0.000000,0.0,0.000000,0.00,0.000000,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,0.1115,21.08,-0.052822,77.0,0.0,9.350,0.000179,0.000179,0.106714,0.25,...,0.0,0.118435,0.473740,0.0,203.985596,0.05,19.256186,0.013205,-0.039616,3.573101e-07
2014-01-01 00:30:00,0.1115,21.08,-0.072293,74.0,0.0,9.075,0.000179,0.000179,0.119238,0.50,...,0.0,0.162092,0.648368,0.0,380.490967,0.05,19.281414,0.018073,-0.054220,3.573314e-07
2014-01-01 00:45:00,0.1115,21.08,-0.063394,71.0,0.0,8.800,0.000179,0.000179,0.129337,0.75,...,0.0,0.142140,0.568560,0.0,306.851318,0.05,19.666872,0.015849,-0.047546,3.573628e-07
2014-01-01 01:00:00,0.1115,21.08,-0.090705,71.5,0.0,8.275,0.000179,0.000179,0.147660,1.00,...,0.0,0.203374,0.813497,0.0,556.664307,0.05,19.909374,0.022676,-0.068029,3.574020e-07

In [7]:
final_df_05["e_cost"].sum()

466.46468095278937

In [8]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_72/all_columns_ddpg_test_72_2014.html')

In [3]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_77/actions_df_ddpg_test_77_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_77/obs_df_ddpg_test_77_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_77/reward_df_ddpg_test_77_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_77/e_costs_df_ddpg_test_77_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,d_price,reward,OutRH,OutSI,OutTemp,P1,P2,SOC,TOD,...,ZoneTotalIlluB,net_energy,net_power,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,0.1115,21.08,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,...,0.0,0.000000,0.000000,0.0,0.000000,0.00,0.000000,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,0.1115,21.08,-0.368480,77.0,0.0,9.350,0.000179,0.000179,0.105123,0.25,...,0.0,0.137698,0.550793,0.0,155.652832,0.05,11.873261,0.015353,-0.353127,3.573101e-07
2014-01-01 00:30:00,0.1115,21.08,-0.360615,74.0,0.0,9.075,0.000179,0.000179,0.110879,0.50,...,0.0,0.134759,0.539036,0.0,174.863037,0.05,13.548729,0.015026,-0.345589,3.573314e-07
2014-01-01 00:45:00,0.1115,21.08,-0.406625,71.0,0.0,8.800,0.000179,0.000179,0.119150,0.75,...,0.0,0.151953,0.607810,0.0,251.295654,0.05,13.974788,0.016943,-0.389682,3.573628e-07
2014-01-01 01:00:00,0.1115,21.08,-0.296342,71.5,0.0,8.275,0.000179,0.000179,0.125363,1.00,...,0.0,0.110741,0.442962,0.0,188.769287,0.05,20.024467,0.012348,-0.283994,3.574020e-07

In [4]:
final_df_05["e_cost"].sum()

243.02297000739205

In [5]:
final_df_05["net_energy"].sum()

-1216.2519374169653

In [11]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_77/all_columns_ddpg_test_77_2014.html')

In [5]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_78/actions_df_ddpg_test_78_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_78/obs_df_ddpg_test_78_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_78/reward_df_ddpg_test_78_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_78/e_costs_df_ddpg_test_78_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,d_price,reward,OutRH,OutSI,OutTemp,P1,P2,SOC,TOD,...,ZoneTotalIlluB,net_energy,net_power,LigB_input,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,0.1115,21.08,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,...,0.0,0.000000,0.000000,0.0,0.000000,0.00,0.000000,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,0.1115,21.08,-2.456127,77.0,0.0,9.350,0.000179,0.000179,0.208617,0.25,...,0.0,0.917835,3.671340,0.0,3300.000000,0.05,13.179337,0.102339,-2.353788,3.573101e-07
2014-01-01 00:30:00,0.1115,21.08,-2.443525,74.0,0.0,9.075,0.000179,0.000179,0.317234,0.50,...,0.0,0.913126,3.652504,0.0,3300.000000,0.05,14.266482,0.101814,-2.341712,3.573314e-07
2014-01-01 00:45:00,0.1115,21.08,-0.225456,71.0,0.0,8.800,0.000179,0.000179,0.316231,0.75,...,0.0,0.084251,0.337004,0.0,-25.943115,0.05,13.550077,0.009394,-0.216062,3.573628e-07
2014-01-01 01:00:00,0.1115,21.08,-0.219041,71.5,0.0,8.275,0.000179,0.000179,0.314471,1.00,...,0.0,0.081854,0.327416,0.0,-45.487549,0.05,12.934186,0.009127,-0.209914,3.574020e-07

In [6]:
final_df_05["e_cost"].sum()

338.15181560755514

In [8]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_78/all_columns_ddpg_test_78_2014.html')

In [6]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_no_Lig_4/Test_22/actions_df_ddpg_test_22_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_no_Lig_4/Test_22/obs_df_ddpg_test_22_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_no_Lig_4/Test_22/reward_df_ddpg_test_22_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_no_Lig_4/Test_22/e_costs_df_ddpg_test_22_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
final_df_05.head()

,e_price,d_price,reward,OutRH,OutSI,OutTemp,P1,P2,SOC,TOW,ZoneTempB,net_energy,net_power,P_ctrl,SaFrB,SaTempB,e_cost,Tcomfort,P1_P2
2014-01-01 00:00:00,0.1115,21.08,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
2014-01-01 00:15:00,0.1115,21.08,-52.696882,77.0,0.0,9.350,0.000179,0.000179,0.138099,48.25,22.760919,0.451940,1.807760,1157.532715,0.100000,16.611765,5.039132,-47.657750,3.573101e-07
2014-01-01 00:30:00,0.1115,21.08,-35.482722,74.0,0.0,9.075,0.000179,0.000179,0.152643,48.50,22.130267,0.289376,1.157504,441.860352,0.100010,14.492652,3.226544,-32.256179,3.573314e-07
2014-01-01 00:45:00,0.1115,21.08,-19.716586,71.0,0.0,8.800,0.000179,0.000179,0.156012,48.75,22.153523,0.166817,0.667268,102.355225,0.100002,19.028721,1.860010,-17.856576,3.573628e-07
2014-01-01 01:00:00,0.1115,21.08,-18.449559,71.5,0.0,8.275,0.000179,0.000179,0.157315,49.00,22.117774,0.154012,0.616049,39.603516,0.100004,18.526392,1.717235,-16.732324,3.574020e-07

In [7]:
final_df_05["e_cost"].sum()

18188.565006955057

In [8]:
final_df_05["net_energy"].sum()

-1581.9500904150232

In [11]:
final_df_05[final_df_05.net_energy < 0]["net_energy"].sum()

-3158.789406507384

In [12]:
final_df_05[final_df_05.net_energy > 0]["net_energy"].sum()

1576.8393160923606

In [3]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_86/actions_df_ddpg_test_86_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_86/obs_df_ddpg_test_86_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_86/reward_df_ddpg_test_86_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_86/e_costs_df_ddpg_test_86_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
#final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
# final_df_05.head()
print(f'total PV generation: {final_df_05["PV"].sum()*.25}') 

print(f'total ecost: {final_df_05["e_cost"].sum()}') 
print(f'total net_energy: {final_df_05["net_energy"].sum()}') 
print(f'total energy positif: {final_df_05[final_df_05.net_energy > 0]["net_energy"].sum()}')

total PV generation: 0.0
total ecost: 521.3532094909253
total net_energy: 4342.4628499418195
total energy positif: 4342.466221155752

In [4]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_86/all_columns_ddpg_test_86_2014.html')

In [4]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_95/actions_df_ddpg_test_95_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_95/obs_df_ddpg_test_95_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_95/reward_df_ddpg_test_95_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_95/e_costs_df_ddpg_test_95_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
#final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
# final_df_05.head()
print(f'total PV generation: {final_df_05["PV"].sum()*.25/1000.0}') 

print(f'total ecost: {final_df_05["e_cost"].sum()}') 
print(f'total net_energy: {final_df_05["net_energy"].sum()}') 
print(f'total energy positif: {final_df_05[final_df_05.net_energy > 0]["net_energy"].sum()}')

total PV generation: 3789.5498796338297
total ecost: 441.3255203390391
total net_energy: 3731.891531593201
total energy positif: 3762.5056938942466

In [3]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_95/all_columns_ddpg_test_95_2014.html')

In [2]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_98/actions_df_ddpg_test_98_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_98/obs_df_ddpg_test_98_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_98/reward_df_ddpg_test_98_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_98/e_costs_df_ddpg_test_98_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
#final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
# final_df_05.head()
print(f'total PV generation: {final_df_05["PV"].sum()*.25/1000.0}') 

print(f'total ecost: {final_df_05["e_cost"].sum()}') 
print(f'total net_energy: {final_df_05["net_energy"].sum()}') 
print(f'total energy positif: {final_df_05[final_df_05.net_energy > 0]["net_energy"].sum()}')

total PV generation: 7579.0997592676595
total ecost: 46.61427451701637
total net_energy: -2283.138215441601
total energy positif: 415.9005140146543

In [3]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_98/all_columns_ddpg_test_98_2014.html')

In [4]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_104/actions_df_ddpg_test_104_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_104/obs_df_ddpg_test_104_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_104/reward_df_ddpg_test_104_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_104/e_costs_df_ddpg_test_104_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
#final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
# final_df_05.head()
print(f'total PV generation: {final_df_05["PV"].sum()*.25/1000.0}') 

print(f'total ecost: {final_df_05["e_cost"].sum()}') 
print(f'total net_energy: {final_df_05["net_energy"].sum()}') 
print(f'total energy positif: {final_df_05[final_df_05.net_energy > 0]["net_energy"].sum()}')

total PV generation: 5413.642685191186
total ecost: 88.2145877483527
total net_energy: -905.1753331053745
total energy positif: 745.8498919060252

In [5]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_104/all_columns_ddpg_test_104_2014.html')

In [6]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_112/actions_df_ddpg_test_112_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_112/obs_df_ddpg_test_112_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_112/reward_df_ddpg_test_112_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_112/e_costs_df_ddpg_test_112_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
#final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
# final_df_05.head()
print(f'total PV generation: {final_df_05["PV"].sum()*.25/1000.0}') 

print(f'total ecost: {final_df_05["e_cost"].sum()}') 
print(f'total net_energy: {final_df_05["net_energy"].sum()}') 
print(f'total energy positif: {final_df_05[final_df_05.net_energy > 0]["net_energy"].sum()}')

total PV generation: 3789.5498796338297
total ecost: 115.58828287924554
total net_energy: 378.9707231533681
total energy positif: 949.3257769302766

In [7]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_112/all_columns_ddpg_test_112_2014.html')

In [2]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_113/actions_df_ddpg_test_113_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_113/obs_df_ddpg_test_113_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_113/reward_df_ddpg_test_113_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_113/e_costs_df_ddpg_test_113_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
#final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
# final_df_05.head()
print(f'total PV generation: {final_df_05["PV"].sum()*.25/1000.0}') 

print(f'total ecost: {final_df_05["e_cost"].sum()}') 
print(f'total net_energy: {final_df_05["net_energy"].sum()}') 
print(f'total energy positif: {final_df_05[final_df_05.net_energy > 0]["net_energy"].sum()}')

total PV generation: 5413.642685191186
total ecost: 127.3175829511149
total net_energy: -729.4763130895916
total energy positif: 1063.564867170872

In [3]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_113/all_columns_ddpg_test_113_2014.html')

In [5]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_115/actions_df_ddpg_test_115_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_115/obs_df_ddpg_test_115_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_115/reward_df_ddpg_test_115_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_115/e_costs_df_ddpg_test_115_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True) 
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
#final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
# final_df_05.head()
print(f'total PV generation: {final_df_05["PV"].sum()*.25/1000.0}') 

print(f'total ecost: {final_df_05["e_cost"].sum()}') 
print(f'total net_energy: {final_df_05["net_energy"].sum()}') 
print(f'total energy positif: {final_df_05[final_df_05.net_energy > 0]["net_energy"].sum()}')

total PV generation: 3789.5498796338297
total ecost: 172.41080836453233
total net_energy: 655.7613156290217
total energy positif: 1432.9211985031823

In [6]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_115/all_columns_ddpg_test_115_2014.html')

In [2]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_120/actions_df_ddpg_test_120_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_120/obs_df_ddpg_test_120_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_120/reward_df_ddpg_test_120_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_120/e_costs_df_ddpg_test_120_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
#final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
# final_df_05.head()
print(f'total PV generation: {final_df_05["PV"].sum()*.25/1000.0}') 

print(f'total ecost: {final_df_05["e_cost"].sum()}') 
print(f'total net_energy: {final_df_05["net_energy"].sum()}') 
print(f'total energy positif: {final_df_05[final_df_05.net_energy > 0]["net_energy"].sum()}')

total PV generation: 5413.642685191186
total ecost: 125.14118830747796
total net_energy: -414.5122045504713
total energy positif: 1086.8584307804185

In [3]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_120/all_columns_ddpg_test_120_2014.html')

In [5]:
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35040+1)
index = index[:-1]

actions_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_121/actions_df_ddpg_test_121_2014.csv")
reward_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_121/obs_df_ddpg_test_121_2014.csv")
obs_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_121/reward_df_ddpg_test_121_2014.csv")
e_cost_df_05 = pd.read_csv("../saves_LRC/saves/DRL_Master/Test_121/e_costs_df_ddpg_test_121_2014.csv")
#net_energy_df_05 = pd.read_csv("../preds/net_energy_df_ddpg_multienv_002.csv")
#net_power_df_05 = pd.read_csv("../preds/net_power_df_ddpg_multienv_002.csv")


actions_df_05.index = pd.to_datetime(index)
reward_df_05.index = pd.to_datetime(index)
obs_df_05.index = pd.to_datetime(index)
e_cost_df_05.index = pd.to_datetime(index)
#net_energy_df_05.index = pd.to_datetime(index)
#net_power_df_05.index = pd.to_datetime(index)

e_price_2017 = pd.read_csv("../e_tariffs/e_d_price_2014.csv", index_col=0, parse_dates=True)
e_price_2017.index = pd.to_datetime(e_price_2017.index)

final_df_05 = pd.concat([e_price_2017, obs_df_05, reward_df_05, actions_df_05,e_cost_df_05],axis=1) #,net_energy_df_05,net_power_df_05
final_df_05["Tcomfort"] = final_df_05["reward"] + final_df_05["e_cost"]
#final_df_05["P1_P2"] = final_df_05["P1"]/1000.0 + final_df_05["P2"]/1000.0
# final_df_05.head()
print(f'total PV generation: {final_df_05["PV"].sum()*.25/1000.0}') 

print(f'total ecost: {final_df_05["e_cost"].sum()}') 
print(f'total net_energy: {final_df_05["net_energy"].sum()}') 
print(f'total energy positif: {final_df_05[final_df_05.net_energy > 0]["net_energy"].sum()}')

total PV generation: 5413.642685191186
total ecost: 128.5657555308311
total net_energy: -951.6744450023997
total energy positif: 1058.6900015493225

In [6]:
plot_df(final_df_05, filename='../saves_LRC/saves/DRL_Master/Test_121/all_columns_ddpg_test_121_2014.html')