In [2]:
import pandas as pd

In [41]:
DL_df = pd.read_csv("SFO_2013.csv")
DL_df = DL_df.rename(columns={"Date/Time": "date_time", "FLEXLAB-XR-ZONEB:Daylighting Reference Point 1 Illuminance [lux](TimeStep)": "Daylighting_B"})
index = pd.date_range(start='1/1/{0}'.format(2013), end='1/1/{0}'.format(2013+1), periods=35041)
daylight_df = pd.DataFrame(index, columns=['date_time'])
daylight_df = daylight_df[:-1]
daylight_df["Daylighting_B"] =0.0 
daylight_df["Daylighting_B"] = DL_df["Daylighting_B"]
daylight_df.to_csv('daylight_SFO_2013.csv', index=False)
max(daylight_df["Daylighting_B"])

978.1549266000001

In [42]:
DL_df = pd.read_csv("SFO_2014.csv")
DL_df = DL_df.rename(columns={"Date/Time": "date_time", "FLEXLAB-XR-ZONEB:Daylighting Reference Point 1 Illuminance [lux](TimeStep)": "Daylighting_B"})
index = pd.date_range(start='1/1/{0}'.format(2014), end='1/1/{0}'.format(2014+1), periods=35041)
daylight_df = pd.DataFrame(index, columns=['date_time'])
daylight_df = daylight_df[:-1]
daylight_df["Daylighting_B"] =0.0 
daylight_df["Daylighting_B"] = DL_df["Daylighting_B"]
daylight_df.to_csv('daylight_SFO_2014.csv', index=False)
max(daylight_df["Daylighting_B"])

1169.25507

In [43]:
DL_df = pd.read_csv("SFO_2015.csv")
DL_df = DL_df.rename(columns={"Date/Time": "date_time", "FLEXLAB-XR-ZONEB:Daylighting Reference Point 1 Illuminance [lux](TimeStep)": "Daylighting_B"})
index = pd.date_range(start='1/1/{0}'.format(2015), end='1/1/{0}'.format(2015+1), periods=35041)
daylight_df = pd.DataFrame(index, columns=['date_time'])
daylight_df = daylight_df[:-1]
daylight_df["Daylighting_B"] =0.0 
daylight_df["Daylighting_B"] = DL_df["Daylighting_B"]
daylight_df.to_csv('daylight_SFO_2015.csv', index=False)
max(daylight_df["Daylighting_B"])

1014.950109

In [44]:
DL_df = pd.read_csv("SFO_2017.csv")
DL_df = DL_df.rename(columns={"Date/Time": "date_time", "FLEXLAB-XR-ZONEB:Daylighting Reference Point 1 Illuminance [lux](TimeStep)": "Daylighting_B"})
index = pd.date_range(start='1/1/{0}'.format(2017), end='1/1/{0}'.format(2017+1), periods=35041)
daylight_df = pd.DataFrame(index, columns=['date_time'])
daylight_df = daylight_df[:-1]
daylight_df["Daylighting_B"] =0.0 
daylight_df["Daylighting_B"] = DL_df["Daylighting_B"]
daylight_df.to_csv('daylight_SFO_2017.csv', index=False)
max(daylight_df["Daylighting_B"])

948.2403393

In [48]:
DL_df = pd.read_csv("SFO_TMY.csv")
DL_df = DL_df.rename(columns={"Date/Time": "date_time", "FLEXLAB-XR-ZONEB:Daylighting Reference Point 1 Illuminance [lux](TimeStep)": "Daylighting_B"})
index = pd.date_range(start='1/1/{0}'.format(2017), end='1/1/{0}'.format(2017+1), periods=35041)
daylight_df = pd.DataFrame(index, columns=['date_time'])
daylight_df = daylight_df[:-1]
daylight_df["Daylighting_B"] =0.0 
daylight_df["Daylighting_B"] = DL_df["Daylighting_B"]
daylight_df.to_csv('daylight_SFO_TMY.csv', index=False)
max(daylight_df["Daylighting_B"])

932.4124625

In [45]:
DL_df = pd.read_csv("flexlab_2018.csv")
DL_df = DL_df.rename(columns={"Date/Time": "date_time", "FLEXLAB-XR-ZONEB:Daylighting Reference Point 1 Illuminance [lux](TimeStep)": "Daylighting_B"})
index = pd.date_range(start='1/1/{0}'.format(2018), end='1/1/{0}'.format(2018+1), periods=35041)
daylight_df = pd.DataFrame(index, columns=['date_time'])
daylight_df = daylight_df[:-1]
daylight_df["Daylighting_B"] =0.0 
daylight_df["Daylighting_B"] = DL_df["Daylighting_B"]
daylight_df.to_csv('daylight_flexlab_2018.csv', index=False)
max(daylight_df["Daylighting_B"])

1005.6391070000001

In [46]:
DL_df = pd.read_csv("Chicago_TMY.csv")
DL_df = DL_df.rename(columns={"Date/Time": "date_time", "FLEXLAB-XR-ZONEB:Daylighting Reference Point 1 Illuminance [lux](TimeStep)": "Daylighting_B"})
index = pd.date_range(start='1/1/{0}'.format(2017), end='1/1/{0}'.format(2017+1), periods=35041)
daylight_df = pd.DataFrame(index, columns=['date_time'])
daylight_df = daylight_df[:-1]
daylight_df["Daylighting_B"] =0.0 
daylight_df["Daylighting_B"] = DL_df["Daylighting_B"]
daylight_df.to_csv('daylight_Chicago_TMY.csv', index=False)
max(daylight_df["Daylighting_B"])

1019.1577869999999

In [47]:
DL_df = pd.read_csv("Miami_TMY.csv")
DL_df = DL_df.rename(columns={"Date/Time": "date_time", "FLEXLAB-XR-ZONEB:Daylighting Reference Point 1 Illuminance [lux](TimeStep)": "Daylighting_B"})
index = pd.date_range(start='1/1/{0}'.format(2017), end='1/1/{0}'.format(2017+1), periods=35041)
daylight_df = pd.DataFrame(index, columns=['date_time'])
daylight_df = daylight_df[:-1]
daylight_df["Daylighting_B"] =0.0 
daylight_df["Daylighting_B"] = DL_df["Daylighting_B"]
daylight_df.to_csv('daylight_Miami_TMY.csv', index=False)
max(daylight_df["Daylighting_B"])

892.2073822000001

In [2]:
def time_converter(year,idx,total_timestep=35040):
    """
    Input
    -------------------
    year: int, year to be converted
    idx: int, index of timestep in the specific year, SHOULD start from zero
    total_timestep: total timestep of the specific year
    
    Output
    -------------------
    pandas Timestamp of the time corresponding to the idx
    """
    index = pd.date_range(start='1/1/{0}'.format(year), end='1/1/{0}'.format(year+1), periods=total_timestep+1)
    time = index[idx]
    return time

In [3]:
def price_generator(year,total_timestep=35040):
    index = pd.date_range(start='1/1/{0}'.format(year), end='1/1/{0}'.format(year+1), periods=total_timestep+1)
    e_price_df = pd.DataFrame(index, columns=['date_time'])
    e_price_df['e_price'] = 0
    for idx in range(total_timestep):
        time = index[idx]
        if 0 <= time.hour < 14:
            e_price = 8
        elif 14 <= time.hour < 16 or 21 <= time.hour < 23:
            e_price = 16
        elif 16 <= time.hour < 21:
            e_price = 25
        else :
            e_price = 8
        e_price_df.loc[idx,'e_price'] = e_price
        
    return e_price_df

In [19]:
e_price_df_2015 = price_generator(2015,total_timestep=35040)
e_price_df_2015.to_csv('e_price_2015.csv', index=False)

In [20]:
e_price_df_2013 = price_generator(2013,total_timestep=35040)
e_price_df_2013.to_csv('e_price_2013.csv', index=False)

In [21]:
e_price_df_2014 = price_generator(2014,total_timestep=35040)
e_price_df_2014.to_csv('e_price_2014.csv', index=False)

In [22]:
e_price_df_2017 = price_generator(2017,total_timestep=35040)
e_price_df_2017.to_csv('e_price_2017.csv', index=False)

In [24]:
max(5,10)

10

In [4]:
e_price_df_2018 = price_generator(2018,total_timestep=35040)
e_price_df_2018.to_csv('e_price_2018.csv', index=False)

In [19]:
ed2017 = pd.read_csv("e_d_price_2017.csv", index_col=0, parse_dates=True)
ed2017.head()

                     e_price  d_price
date_time
2017-01-01 00:00:00   0.1115    21.08
2017-01-01 00:15:00   0.1115    21.08
2017-01-01 00:30:00   0.1115    21.08
2017-01-01 00:45:00   0.1115    21.08
2017-01-01 01:00:00   0.1115    21.08

In [5]:
ed2017_hourly =ed2017.resample('60T').mean()

In [7]:
ed2017_hourly.shape

(8761, 2)

In [8]:
24*365

8760

In [9]:
4*4

16

In [ ]:
data$tow <- data$hour + lubridate::minute(data$dts)/60 + data$wday*24

In [25]:
# index_1 = pd.to_datetime(ed2017.index)
ed2017.index[20]

Timestamp('2017-01-01 05:00:00')

In [31]:
toto =ed2017.index[21]
toto

Timestamp('2017-01-01 05:15:00')

In [32]:
toto.hour

5

In [33]:
toto.minute

15

In [51]:
toto.weekday()

6

In [47]:
titi = ed2017.index.hour + ed2017.index.minute/60.0 + ed2017.index.weekday* 24
titi[95:195]

Float64Index([167.75,    0.0,   0.25,    0.5,   0.75,    1.0,   1.25,    1.5,
                1.75,    2.0,   2.25,    2.5,   2.75,    3.0,   3.25,    3.5,
                3.75,    4.0,   4.25,    4.5,   4.75,    5.0,   5.25,    5.5,
                5.75,    6.0,   6.25,    6.5,   6.75,    7.0,   7.25,    7.5,
                7.75,    8.0,   8.25,    8.5,   8.75,    9.0,   9.25,    9.5,
                9.75,   10.0,  10.25,   10.5,  10.75,   11.0,  11.25,   11.5,
               11.75,   12.0,  12.25,   12.5,  12.75,   13.0,  13.25,   13.5,
               13.75,   14.0,  14.25,   14.5,  14.75,   15.0,  15.25,   15.5,
               15.75,   16.0,  16.25,   16.5,  16.75,   17.0,  17.25,   17.5,
               17.75,   18.0,  18.25,   18.5,  18.75,   19.0,  19.25,   19.5,
               19.75,   20.0,  20.25,   20.5,  20.75,   21.0,  21.25,   21.5,
               21.75,   22.0,  22.25,   22.5,  22.75,   23.0,  23.25,   23.5,
               23.75,   24.0,  24.25,   24.5],
             dtype='float64', name='date_time')

In [48]:
167.75/.25

671.0

In [49]:
24*4*7

672

In [ ]:
minuteOfWeek = 24*60*timeVec$wday+60*timeVec$hour + timeVec$min
intervalOfWeek = 1+floor(minuteOfWeek/intervalMinutes)

In [ ]:
titi = 60 * ed2017.index.hour + ed2017.index.minute + toto.weekday() * 24 * 60

In [59]:
dts = pd.date_range(start='1/1/{0}'.format(2017), end='1/1/{0}'.format(2017+1), periods=35040+1)

In [57]:
tow = 60 * ed2017.index.hour + ed2017.index.minute + toto.weekday() * 24 * 60
tow

35040.0

In [ ]:
60*